---
title: Welcome to my page
layout: layout.njk
links:
  - text: My Twitter
    url: https://twitter.com/misteroom
  - text: My GitHub profile
    url: https://github.com/oscarotero
---
       
<article>
   <header>
            <h1>{{ title }}</h1>
   </header>
            
    <ul>
              {% for link in links %}
                 <li>
                      <a href="{{ link.url }}">
                        {{ link.text }}
                      </a>
                 </li>
              {% endfor %}
    </ul>
</article>
